body,div,ul,li,p,img{margin:0;padding:0;}
li{list-style:none;}
img{border:none;vertical-align:top;}
button{outline:none;border:none;}
body{
    background-color:#50CB86;
}
.wrap {
    width: 500px;
    height: 600px;
    position:relative;
    overflow: hidden;
    background-color:#FFFBCB;
    margin:20px auto;
    border-radius:30px;
}
.wrap ul{
    position: absolute;
    left:-4000px;
}
.wrap ul li{
    float:left;
    height: 600px;
    width: 500px;
    overflow: hidden;
}
.wrap ul li img {
    width: 500px;
    height: 230px;
    cursor: pointer;
}
.wrap div{
    height:300px;
    margin:40px 0;
    color:#4A4A4A;
}
.wrap div p{
    font-size:18px;
    margin-left:50px;
    line-height:40px;
}
.wrap span{
    font-size:20px;
    color:#313131;
    margin-left:20px;
}
.wrap button{
    position: absolute;
    height: 40px;
    line-height: 40px;
    top: 290px;
    background:#FD9191;
    font-size: 30px;
    width:34px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    border-radius: 10px;
}
.wrap button:hover{
    background:#CF455C;
}
#left{
    left: 0;
}
#right{
    right: 0;
}