body,div,ul,li,p,h2,img{margin:0;padding:0;}
li{list-style:none;}
img{border:none;vertical-align:top;}
a{text-decoration:none;}
body{
    background-color:#F49393;
    font-family: "Arial, Helvetica, sans-serif";
}
#tab{
    width:490px;
    margin:50px auto;
    position:relative;
}
#tab .adorn1{
    position:absolute;
    top:0;
    left:0;
    width:490px;
    height:6px;
    overflow:hidden;
}
#tab .adorn2 {
    width: 490px;
    height: 6px;
    overflow: hidden;
}
#tab .nav {
    position: relative;
    background-color:#261D1D;
}
#tab .nav ul {
    height: 44px;
    border-left: 1px solid #d4d4d4;
}
#tab .nav li {
    float: left;
    height: 44px;
    line-height: 44px;
    font-family: arial;
    border-right: 1px solid #d4d4d4;
}
#tab .nav li a {
    float: left;
    height: 44px;
    text-decoration: none;
    color:#F21368;
    padding: 0 20px;
}
#tab .nav .active a {
    color: #B21E4B;
    font-weight: bold;
}
#tab .more {
    font-family: "宋体";
    position: absolute;
    top: 14px;
    right: 20px;
    color: #F21368;
    font-weight: bold;
    text-decoration: none;
}
#tab .more:hover {
    text-decoration: underline;
    color: #B21E4B;
    right: 20px;
}
#tab .content {
    position: relative;
    overflow: hidden;
    margin-left: 1px;
    background-color:#261D1D;
    border-top:1px solid #d4d4d4;
}
#tab .box {
    padding: 20px;
    overflow: hidden;
    display: none;
}
#tab .pic {
    width: 189px;
    height: 115px;
    float: left;
}
#tab .pic img{
    width: 189px;
    height: 115px;
}
#tab .pic_list {
    float: right;
    width: 232px;
    padding-left: 16px;
    display: inline-block;
}
#tab .pic_list li {
    width: 232px;
    float: left;
    font-family: "arial";
    line-height: 18px;
    margin-bottom: 4px;
}
#tab .pic_list h2 {
    width: 232px;
    font-size: 12px;
    height: 18px;
}
#tab .pic_list h2 a {
    height: 18px;
    text-decoration: none;
    color:#F21368;
    font-size:14px;
    padding-right: 5px;
    font-weight:normal;
    float: left;
    background-color:#261D1D;
}
#tab .pic_list h2 a:hover {
    text-decoration: underline;
    color: #B21E4B;
}
#tab .pic_list h2 span {
    height: 18px;
    color: #999;
    font-size:14px;
    float: right;
    background-color:#261D1D;
    padding-left: 5px;
}
#tab .pic_list p {
    color: #999;
    word-spacing: 10px;
    font-size:12px;
}